.notification {
	height: 1.12rem;
	background-color: #5f646e;
	width: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	font-size: .32rem;
	
	.close {
		position: absolute;
		top: 0.25rem;
		font-weight: lighter;
		margin-left: 0.24rem;
		font-size: .32rem;
	}

	.logo {
		width: 0.8rem;
		height: 0.8rem;
		position: absolute;
		top: .16rem;
		left: 1.133333rem;
	}

	span {
		color: #fff;
		line-height: .32rem;
		position: absolute;
		top: .34rem;
		left: 2.2rem;
		vertical-align: middle;
	}

	.goToApp {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		line-height: 1.12rem;
		color: #fff;
		background-color: $tb_red;
		font-size: inherit;
		padding: 0 .214rem;
	}
}