.sliders {
	position: relative;
	display: block;
	width: 100%;
	font-size: 0;
	.slider {
		font-size: 0;
		display: none;
		width: 100%;
		img {
			width: 100%;
		}

		&.active {
			display: block;
		}
	}

	.dot {
		background-image: url("/assets/images/dot.png");
		height: .25rem;
		width: .25rem;
		display: inline-block;
		margin-left: 0.09375rem;
		margin-right: 0.09375rem;
		background-size: 100% 200%;
		background-position: 0 0;

		&.active {
			background-position: 0 100%;
		}
	}

	.slider-control {
		position: absolute;
		right: 15px;
		bottom: .3rem;
	}
}