doctype html
html
  head
    meta charset="utf8"
    meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no"
    meta http-equiv="X-UA-Compatible" content="IE=Edge"
    title 淘宝网手机版 - cassiuschen重制
    link href="/assets/css/application.min.css" type="text/css" rel="stylesheet"
    script type="text/javascript" src="/assets/js/jquery.min.js"
    script type="text/javascript" src="/assets/js/react.min.js"
    script type="text/javascript" src="/assets/js/application.min.js"
    link href="/assets/images/app-icon.png" rel="apple-touch-icon-precomposed"
    link href="/assets/images/app-icon.png" rel="Shortcut Icon" type="image/x-icon"
  body
    header
      #logo
      input#search type="text" name="search"
      .mask
        i.icon.search
        | 寻找宝贝店铺
    main
      .view
        .notification
          a.close
          img.logo src="/assets/images/icon.png"
          span 上客户端，领专属好礼！
          a.goToApp 立即领取
        .sliders
          .slider.active
            img src="/assets/images/slider1.jpg"
          .slider-control
            a.dot.active
            a.dot
            a.dot
            a.dot

    footer
      .actions
        .action
          i.icon.home
          | 首页
        .action
          i.icon.transport
          | 物流
        .action
          i.icon.cart
          | 购物车
        .action
          i.icon.user
          | 我的淘宝
        .action
          i.icon.more
          | 更多