@import "reset";
@import "font";

$base_font_size: 75px;
$tb_red: #FE5400;

$header_height: 74px;
$footer_height: calc(1rem + 10px);

@import "icons";

body, html {
	font-size: $base_font_size;
	background-color: #EEE;
	//overflow: hidden !important;
}

header {
	display: block;
	background-color: $tb_red;
	height: $header_height;
	padding: (($header_height - 50px) / 2) 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 0;
	z-index: 1000;

	#logo {
		display: inline-block;
		height: 50px;
		width: 60px;
	}

	#search {
		width: calc(100% - 20px - 70px);
		height: 50px;
		margin: 0;
		border: none;
		float: right;
		display: inline-block;
		background-color: #B52600;
		border-radius: 8px;
		font-size: 0.34rem;
		text-align: center;
		
		
		
	}

	.mask {
		color: #F0E0DC;
		font-size: 0.34rem;
		width: calc(100% - 20px - 70px);
		position: absolute;
		right: 10px;
		top:  (($header_height - 50px) / 2);
		display: inline-block;
		text-align: center;
		line-height: 50px;

		i {
			margin-right: 0.1rem;
		}
	}
}

footer {
	z-index: 1000;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	border-top: 1px solid #e7e7e7;
	background-color: #fff;
	height: $footer_height;
	padding: 0;
	margin: 0;
	padding-top: 8px;
	.actions {
		margin: 0 auto;
		font-size: 0;
		text-align: center;
		.action {
			height: 75px;
			display: inline-block;
			font-size: .26rem;
			color: #5D656B;
			min-width: 20%;
			i.icon {
				display: block;
				font-size: 0.58rem;
			}
		}
	}
}

main {
	z-index: 10;
	display: block;
	position: relative;
	margin-top: $header_height;
	padding-bottom: $footer_height;
	//top: $header_height;
	//bottom: ($footer_height + 1px);
	//left: 0;
	//right: 0;
	background-color: transparent;
	//overflow: hidden;
	.view {
		overflow: auto;
		width: 100%;
		//height: 100%;
		padding: 0;
		margin: 0;
	}
}

@import "components";